.input-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    color: rgb(105, 6, 6);
    font-size:12px;
}
.input-label{
    position:fixed;
    background-color:rgba(245, 247, 244, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    margin: 2px 0px 0px 10px;
    padding: 0 5px;
    
}
.input-field{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 20px;
    margin-top: 10px;
}